@using OpenWebBlazor.Components.Pages.Shared
<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView Resource="routeData" RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity.IsAuthenticated == false)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <RedirectToAuth></RedirectToAuth>
                    }
                </NotAuthorized>
                <Authorizing>
                    <div style="position: fixed;left:50%;top:40%;">
                        <Spin Size="SpinSize.Large" Indicator="@antIcon" />
                    </div>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
    </Router>

    <AntContainer></AntContainer>
</CascadingAuthenticationState>

@code {
    RenderFragment antIcon = @<Icon Type="@IconType.Outline.Loading" Style="font-size: 48px" Spin />;
}